body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  padding: 8px;
  border-radius: 4px;
  background-color: #f6f9fc;
}

main > div {
  border-radius: 10px;
}

.data-table-extensions {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem 1.2rem;
  background-color: #f6f9fc;
}

input.filter-text {
  color: inherit;
    padding: 12px 10px;
    width: 80vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    outline: none;
}

.data-table-extensions-filter {
  width: 100%;
  display: flex;
  justify-content: center;
}